<ion-header>
  <ion-toolbar>
    <ion-title>
      Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Score / Greens Hit -->
    <ion-row>
      <ion-col size="6">
        <circle-progress [percent]="statsPackage.score" [subtitle]="statPackageEnum.score" [showUnits]="false" (click)="showSpecificStats('score')"></circle-progress>
      </ion-col>
      <ion-col size="6">
        <circle-progress [percent]="statsPackage.greensInReg" [subtitle]="statPackageEnum.greens" (click)="showSpecificStats('greens')"></circle-progress>
      </ion-col>
    </ion-row>

     <!-- Fairways / Total Putts -->
    <ion-row>
      <ion-col size="6">
          <circle-progress [percent]="statsPackage.fairwaysInReg" [subtitle]="statPackageEnum.fwys" (click)="showSpecificStats('fairways')"></circle-progress>
      </ion-col>
      <ion-col size="6">
        <circle-progress [percent]="statsPackage.totalPutts" [subtitle]="statPackageEnum.putts" [showUnits]="false" (click)="showSpecificStats('putts')"></circle-progress>
      </ion-col>
    </ion-row>

     <!-- Birdies / Pars -->
    <ion-row>
      <ion-col size="6">
        <circle-progress [percent]="statsPackage.totalBirdies" [subtitle]="statPackageEnum.birds" [showUnits]="false" (click)="showSpecificStats('birdies')"></circle-progress>
      </ion-col>
      <ion-col size="6">
        <circle-progress [percent]="statsPackage.totalPars" [subtitle]="statPackageEnum.pars" [showUnits]="false" (click)="showSpecificStats('pars')"></circle-progress>
      </ion-col>
    </ion-row>
</ion-content>
