<div class="round-input-fields">
  <div>
    <h3>{{ title }}</h3>
  </div>
  <ion-content>
    <div class="landing-page-content">
      <div *ngIf="statDetails.length > 0">
        <div *ngFor="let stat of statDetails">
          <p class="stat-details">
            <span class="details">{{ stat.date |  date: 'M/dd/yyyy' }}</span>
            <span class="details">{{ stat.course }}</span>
            <span class="stat-span">{{ stat.stat }}</span>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="button-container">
    <ion-button expand="full" color="medium" size="medium" (click)="cancel()">Back To Stats</ion-button>
  </div>
</div>
