.stat-details {
  .details {
    margin: 10px;
  }
}

.stat-span {
  float: right;
}

.stat-title {
  text-align: center;
}

.back-to-stats-btn {
  margin: 20px;
}

.stat-detail-average {
  p {
    text-align: center;
    font-size: 40px;
  }
}
