ion-slides {
  max-height: 350px;
  margin-left: 50px;

  ion-slide {
    max-height: 350px;
    margin-left: 10px;

    ion-item {
      text-align: center;
      border: 1px solid black;
    }
  }
}