<ion-header>
  <ion-toolbar>
    <ion-title>
      Create New User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="landing-page-content">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" [(ngModel)]="password"></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button expand="full" color="medium" size="medium" (click)="createNewUser()">Create New User</ion-button>
    </div>
    <div class="navigate-back">
      <ion-button expand="full" color="medium" [routerLink]="['../tabs/user']">Back To Login</ion-button>
    </div>
  </div>
</ion-content>
