<div class="landing-page-content">
  <h3>Round Details</h3>
  <div *ngIf="round.nineHoleRound; else showEighteenBanner">
    <p class="nine-hole-round-banner">
      9 Hole Round
    </p>
  </div>
  <ng-template #showEighteenBanner>
    <div>
      <p class="show-eighteen-banner">
        18 Hole Round
      </p>
    </div>
  </ng-template>
  <p *ngIf="round">
    Date: {{ round.date |  date: 'M/dd/yyyy' }}<br> 
    Course: {{ round.course }}<br>
    Score: {{ round.score }}<br>
    Fwys: {{ round.fairwaysInReg }}<br>
    Greens: {{ round.greensInReg }}<br>
    Putts: {{ round.totalPutts}}<br>
    Birds: {{ round.totalBirdies }}<br>
    Pars: {{ round.totalPars}}<br>
    Putts: {{ round.totalPutts }}
  </p>
  <div class="edit-round-button">
    <ion-button expand="full" color="medium" (click)="presentEditRoundForm(round)">Edit Round</ion-button>
  </div>
  <div class="navigate-back">
    <ion-button expand="full" color="medium" [routerLink]="['../../tabs/history']">Back To History</ion-button>
  </div>
</div>
