.round-input-fields {
  margin: 20px;
  overflow: scroll;
}

.course-search {
  margin-top: 50px;

  p {
    padding-left: 18px;
  }
}

ion-list {
  height: 350px;
  overflow: scroll;
}
